<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
</head>
<body>
    <h1>Menú de Navegación</h1>
    <ul>
        <li><a href="comuna/">Comunas</a></li>
        <li><a href="nacionalidad/">Nacionalidades</a></li>
        <li><a href="direccion/">Direcciones</a></li>
        <li><a href="autores/">Autores</a></li>
        <li><a href="biblioteca/">Bibliotecas</a></li>
        <li><a href="categoria/">Categorías</a></li>
        <li><a href="libros/">Libros</a></li>
        <li><a href="lectores/">Lectores</a></li>
        <li><a href="prestamo/">Préstamos</a></li>
    </ul>
</body>
</html>